@page "/goods"
@inherits ShopNew.Web.ViewModels.Goods.GoodsViewModel

<h3>Список товаров в <span>@shop?.Name</span></h3>

<MudButton Color="Color.Success" OnClick="AddGood">Товар</MudButton>
<MudButton Color="Color.Success" OnClick="AddGroup">Группу</MudButton>
<MudButton Color="Color.Success" OnClick="AddGood">Ценники</MudButton>

<div class="table-responsive">
    <MudTable ServerData="@(new Func<TableState, Task<TableData<Good>>>(ServerReload))"
              Dense="true" Hover="true" @ref="table">
        <ToolBarContent>
            <!--<MudText Typo="Typo.h6">Periodic Elements</MudText>-->
            <MudSpacer />
            <MudSelect T="GoodGroup" Value="selectedGoodGroup" Variant="Variant.Text">
                <MudSelectItem T="GoodGroup" Value="null"></MudSelectItem>
                @foreach (var group in goodGroups)
                {
                    <MudSelectItem T="GoodGroup" Value="group">@group.Name</MudSelectItem>
                }
            </MudSelect>
            <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh></MudTh>
            <MudTh><MudTableSortLabel SortLabel="nr_field" T="Good">Группа</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="sign_field" T="Good">Товар</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="name_field" T="Good">Ед</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="position_field" T="Good">Цена</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="mass_field" T="Good">Кол-во</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>
                <MudIconButton Icon="@Icons.Filled.EditNote" Color="Color.Success" OnClick="@(()=>EditGood(context))"/>
            </MudTd>
            <MudTd DataLabel="Группа">@context.GoodGroup?.Name</MudTd>
            <MudTd DataLabel="Наименование">@context.Name</MudTd>
            <MudTd DataLabel="Ед">@context.Unit</MudTd>
            <MudTd DataLabel="Цена">@context.Price</MudTd>
            <MudTd DataLabel="Кол-во">0</MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>Ничего не найдено</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>Зугрзка...</MudText>
        </LoadingContent>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</div>
@code {
    
}
